@import url('https://fonts.cdnfonts.com/css/proxima-nova-condensed');

*{
  font-family: 'Proxima Nova Condensed', sans-serif;                                              
  margin: 0 ;
  padding: 0;
}


.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media (min-width: 1200px) {
  .wrapper {

    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

    width: 100%;
  }
}

@media (max-width: 480px) {
  .wrapper {
   margin: 0 25px;
  }
}
